*/7 * * * * /home/user/applications/RAPID/analysis/convert_IMGseries_to_h264_recursive_metadata.sh
01 * * * * /home/user/applications/RAPID/analysis/analysis_parallel.sh
*/5 * * * * /home/user/applications/RAPID/temperature/pyTemp.py
